{% extends 'tactoss/base.html' %}


{% block content %}
<h1>Feed</h1>

<main class="grid-container">

  <!-- Loops through every lineup and displays it -->
  {% for lineup in lineups %}
  <img src="{{lineup.gif.url}}">
  <a href="{% url 'account' lineup.account.id%}">{{lineup.account.display_name}}<div class="friends"> <img
        src="{{lineup.account.account_picture.url}}" class="friends"></div></a>
  Map: {{lineup.map}}<br>
  Area: {{lineup.area}} <br>
  <br>
  {% endfor %}
</main>
{% endblock %}