{% extends "tactoss/base.html" %}
{% load static %}

{% block content %}
<main class="grid-container">

  <h2>{{team.team_leader.display_name}}'s team</h2>

  <div class="team_member">
    <!-- List of all players and there info for a team -->
    <ul>
      {% for player in team.get_players %}
      {% if player %}
      <li>
        <a href="{% url 'account' player.id%}">
          <h3>{{player.display_name}}</h3>
        </a>
        {% if player.discord_username %}
        <p>Discord: {{player.discord_username}}</p>
        {% endif %}
        {% if player.steam_url %}
        <p>Steam profile: <a href={{player.steam_url}}>link</a></p>
        {% endif %}
        {% if player.elo_rating != None%}
        Elo: {{player.elo_rating}}
        {% endif %}
        {% if player.account_picture %}
        <img src={{player.account_picture.url}}>
        {% endif %}

      </li>
      {% endif %}
      {% endfor %}



    </ul>
  </div>

</main>

{% endblock content %}