{% extends "tactoss/base.html" %}
{% load static %}

{% block content %}
<main class="grid-container">
  <img src="{{account.account_picture.url}}" alt="{{account.display_name}}'s profile picture">
  <p>{{account.display_name}}'s profile</p>

  {% if account_logged != account and account not in account_logged.friends.all %}
  <a href="{% url 'send_friend_request' account.user.id %}" class="button">Send friend request</a>
  {% endif %}
  <p>Member since {{account.join_date}}</p>
  {% if account.discord_username %}
  <p>Discord username: {{account.discord_username}}</p>
  {% endif %}
  {% if account.steam_url %}
  <p>Steam profile: <a href={{account.steam_url}}>link</a></p>
  {% endif %}


</main>

{% endblock content %}