{% extends "restaurant/base.html" %}

{% block content %}

<h3>Location:</h3>
<p>40 Central St, Ipswich, MA 01938</p><br>
<h3>Hours</h3>
<ul>
  <li>Monday - Thursday: 10:30AM - 8:00PM </li>
  <li>Friday - Saturday: 10:30AM - 9:00PM </li>
  <li>Closed Sundays</li>
</ul>

<img src="https://s3-media0.fl.yelpcdn.com/bphoto/9U5uTVm3Ci8YtnO4ZC3dZg/348s.jpg" , alt="Super 3way from Zeno's" ,
  width="400">
<img src="https://www.zenosroastbeef.com/images/specific/zenos/frontbuilding.jpg" , alt="front of store" , width="700">
{% endblock content %}