{% load static %}

<!-- Loads and uses stylesheet -->
<link rel="stylesheet" href="{% static 'styles-blog.css' %}">

<!-- HTML doc type and header -->
<!DOCTYPE html>
<html>

<body>
  <nav>
    <ul>
      <li><a href="{% url 'show_all_articles' %}">Show all articles</a> </li>
      {% if request.user.is_authenticated %}
      <li><a href="{% url 'create_article' %}">Create article</a></li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
      {% else %}
      <li><a href="{% url 'login' %}">Login</a></li>
      {% endif %}
    </ul>
  </nav>
  {% block content %}

  {% endblock content %}
</body>

</html>