{% extends 'blog/base.html' %}



{% block content %}
<h1>Show all articles</h1>

<main class="grid-container">
  {% for a in articles %}
  <article>
    {% if a.image_file %}
    <img src="{{a.image_file.url}}" alt="{{a.image_file.url}}">
    {% endif %}
    <div>
      <a href="{% url 'article' a.pk%}">Article link</a>
      <h2>{{a.title}}</h2>
      <h3>By: {{a.author}} at {{a.published}}</h3>


      <p>
        {{a.text}}
      </p>
    </div>

  </article>
  {% endfor %}
</main>
{% endblock %}