{% load static %}

<!-- Loads and uses stylesheet -->
<link rel="stylesheet" href="{% static 'styles-fb.css' %}">

<!-- HTML doc type and header -->
<!DOCTYPE html>
<html>

<header>
  <nav>
    <ul>
      <li><a href="{% url 'show_all' %}">Home</a></li>
      {% if user.is_authenticated%}
      <li>
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button type="submit">Logout</button>
        </form>
      </li>
      {% else %}
      <li><a href="{% url 'login' %}">Login</a></li>
      <li><a href="{% url 'create_profile' %}">Create Profile</a></li>
      {% endif %}
    </ul>
  </nav>
</header>

<body>
  {% block content %}

  {% endblock content %}
</body>

</html>