{% extends 'mini_fb/base.html' %}


{% block content %}
<h1>Create a profile</h1>

<main class="grid-container">
  <form method="POST">
    {% csrf_token %}
    <!-- Gets instance of the account form -->
    {{user_creation_form}}
    First name: <br>
    <input type="text" id="first_name" name="first_name" required><br>
    Last name: <br>
    <input type="text" id="last_name" name="last_name" required><br>
    City: <br>
    <input type="text" id="city" name="city" required><br>
    Email: <br>
    <input type="email" id="email" name="email" required><br>
    Profile picture url: <br>
    <input type="url" id="pfp_url" name="pfp_url" required><br>
    <br>
    <input type="submit">
  </form>
</main>
{% endblock %}