{% extends 'mini_fb/base.html' %}


{% block content %}
<h1>Show all profiles</h1>

<main class="grid-container">
  <profile class="featured">

    <img src="{{p.pfp_url}}" alt="{{p.pfp_url}}">
    <div>
      <h2>{{p.first_name}} {{p.last_name}}</h2>
      <h3>From {{p.city}}</h3>

      </profile.featured>
    </div>
    <div class="status-messages">
      <h4>Status</h4>
      <ul>
        {% for s in p.get_status_messages %}
        <p>
          <li>
            {{s}}
            {% for img in s.get_images %}
            <img src="{{img.image.url}}" alt="{{img.image.url}}">
            {% endfor %}
        </p>
        {% if user.is_authenticated and user.pk == p.id%}
        <a href="{% url 'delete_status' s.id %}">
          <button type="button">Delete</button>
        </a>
        <br>
        <a href="{% url 'update_status' s.id %}">
          <button type="button">Update</button>
        </a>
        {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="friends">
      <h4>Friends</h4>
      <ul>
        {% for friend in p.get_friends %}
        <a href="{% url 'profile' friend.id%}">
          <li>
            <img src="{{ friend.pfp_url }}" alt="{{ friend.first_name }}">
            <span>{{ friend.first_name }} {{ friend.last_name }}</span>
          </li>
        </a>
        {% endfor %}
      </ul>
      {% if user.is_authenticated and user.pk == p.id%}
      <a href="{% url 'friend_suggestions' p.id %}"><button type="button">Friend suggestions</button></a>
      <a href="{% url 'news_feed' p.id %}"><button type="button">News feed</button></a>
      {% endif %}
    </div>
    <div>
      {% if user.is_authenticated and user.pk == p.id%}
      <a href="{% url 'create_status' p.id %}">Create a status</a>
      <a href="{% url 'update_profile' p.id %}">Update profile</a>
      {% endif %}
    </div>


</main>
{% endblock %}