{% extends 'mini_fb/base.html' %}



{% block content %}
<h1>Show all profiles</h1>

<main class="grid-container">
  <profile class="featured">
    <img src="{{p.pfp_url}}" alt="{{p.pfp_url}}">
    <div>
      <h2>{{p.first_name}} {{p.last_name}}</h2>
      <h3>From {{p.city}}</h3>
      <h4>Status</h4>
      {% for s in p.get_status_messages %}
      <p>
        {{s}}
      </p>
      {% endfor %}
    </div>
    <a href="{% url 'create_status' p.id %}">Create a status</a>
    </profile.featured>
</main>
{% endblock %}