{% extends "quotes/base.html" %}

{% block content %}
<p> "Jerry Garcia was an American musician who was the principal songwriter, lead guitarist,
  and a vocalist with the rock band Grateful Dead,
  which he co-founded and which came to prominence during the counterculture of the 1960s.
  Although he disavowed the role, Garcia was viewed by many as the leader of the band.
  He was inducted into the Rock and Roll Hall of Fame in 1994 as a member of the Grateful Dead"
  - Wikipedia</p>
{% endblock content %}